view reports 
inteligent comment box
report evaluation -> can view history of previous given comments.
fyp evaluation
tabs of each submission like abstract, 


supervisor 
select project
list of fyp groups 
select indevedual group having history

start meeting...
attendance marked...
topic assigned
task assigned...
 
on next meeting check status of topic assigned task asssigned in a list...
remaining tasks...
completed tasks...

log file of todays meeting...


desk...